*, *::after, *::before{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.sub-container{
  width:100vw;
  background-color: white;
  min-height:90vh;
}

.first{
  display: flex;
}
.text-1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 3rem;
  font-weight: 400;
  color:black;
  padding:1rem;
  padding-top:50px;
}

.img-1{
  width:50vw;
  height:90vh;
  object-fit: cover;
}

.sub-btn{
  margin-top: 20px;
  font-size: 2rem;
  color:rgb(42, 56, 255);
  border:2px solid rgb(64, 32, 243);
  border-radius:5px;
  padding-inline: 1rem;
  cursor: pointer;
  transition: 300ms ;
}
.sub-btn:hover{
  transform: scale(1.2);
  background-color: rgb(64, 32, 243); 
  color:white;
}
.second{
  position: relative;
  padding:1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn{
  position:absolute;
  border:1px solid black;
  border-radius: 4px;
  font-size: 1.5rem;
  padding-inline:1rem;
  cursor: pointer;
  margin-right:100px;
  left:50px;
  transition: 300ms;
}
.btn:hover{
  transform: scale(1.2);
}

.top-text{
  display: flex;
  align-items: center;
}

table{
  background-color: rgb(13, 0, 255);
  color:white;
}

table th{
  font-size: 2rem;
}
table td{
  width:40vw;
  padding:1rem;
  font-size: 1.5rem;
  border:1px solid white;
  border-radius: 2px;
}

.sub-btn2{
  background-color: rgb(64, 32, 243);
  color:white;
  border-radius:5px;
  margin-right: 2px;
} 

.lightBlue{
  background-color: var(--lightBlue);
}
.equal-btns{
  width:100px;
}

.third{
  padding:1rem;
}
