*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.catchments {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 400vw;
  min-height: 100vh;
  left: 0;
  transition: all 300ms;
  background-color: rgb(0, 0, 60);
}
.carousal-outer {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  /* border: 1px solid red; */
}
.slide {
  position: relative;
  width: 100vw;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 4rem;
  padding: 1rem;
}
.slide2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5rem;
  color: white;
  text-align: center;
  font-size: 4rem;
  padding: 1rem;
}
.slide3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 4rem;
  padding: 1rem;
}
.slide4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.catchments-map {
  width: 65%;
  height: 100%;
}

.zones-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
}

.custom-btn {
  background-color: white;
  color: black;
  font-size: 2rem;
  margin-top: 4rem;
  padding-inline: 1.5rem;
  margin: 0.75rem;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2rem;
  transition: 300ms;
}

.custom-btn:hover {
  background-color: rgb(8, 8, 145);
  border: 1px solid white;
  color: white;
}
.disabled {
  background-color: grey;
  color: black;
}
.disabled:hover {
  background-color: grey;
  color: black;
}
.drp-dwn-btn {
  font-size: 2rem;
  border-radius: 2px;
}
