.dashboard-icon {
  background-color: #3d56b2;
  padding: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-icon:hover {
  background-color: var(--darkBlue);
}
.MuiAvatar-root.MuiAvatar-circular.MuiAvatar-colorDefault {
  width: 50px;
  height: 50px;
  margin-right: 28px;
}
.MuiSvgIcon-root.dashboard-icon-inner {
  width: 2em;
  height: 30px;
}
.selection-made-text {
  padding-left: 16px;
  font-weight: 700 !important;
  font-size: 24px;
}
.MuiListItemText-secondary{
  font-weight: 600 !important;
  width: fit-content;
  border-radius: 4px;
  padding:5px;
  border: 1px solid #3d56b2;

}
.menu-expand-more {
  border-radius: 0.25rem;
  padding-top: 1px;
  margin-top: 1rem;
  margin-bottom: 82.5vh;
  color: #3d56b2;
  background-color: white;
  cursor: pointer;
}
/* .menu-expand-more:hover {
    background-color: white;
    color: #3d56b2;
  } */
