*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.reports-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin: 2rem;
  padding: 1rem;
  font-size: 2rem;
}
ul {
  list-style: none;
}
.admin-side {
  width: 100vw;
  min-height: 20vh;
  border: 1px solid blue;
  margin-block: 1rem;
  padding: 1rem;
}
.pdf-input {
  padding: 1rem;
  font-size: 1rem;
}
.report-btn {
  padding: 1rem;
  font-size: 1rem;
}
.report-link {
  margin: 1rem;
}
