*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.headerImg {
  overflow: hidden;
  background-position: center;
  width: 100%;
  height: 25rem;
  object-fit: cover;
}
.header {
  /* height:65vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image:url("https://images.pexels.com/photos/2087391/pexels-photo-2087391.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") */
}
.header-text {
  position: absolute;
  color: #fff;
  width: 50%;
  text-align: center;

  line-height: 1.7rem;
}
.heading {
  color: #fff;
  font-family: var(--mainFont);
  font-weight: 500;
  font-size: 2.5rem;
}
.heading-text {
  font-size: 1.2rem;
}
.reports-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin: 0;
  font-size: 2rem;
  width: 100%;
  padding: 2rem 7rem;
}
.city-report {
  text-align: center;
  font-family: var(--mainFont);
  font-size: 2rem;
  position: relative;
  color: #000;
}
ul {
  list-style: none;
}
.admin-side {
  width: 100vw;
  min-height: 20vh;
  border: 1px solid blue;
  margin-block: 1rem;
  padding: 1rem;
}
.pdf-input {
  padding: 1rem;
  font-size: 1rem;
}
.report-btn {
  padding: 1rem;
  font-size: 1rem;
}
.report-link {
  margin: 1rem 1rem 2rem 1rem;
}
.report-list {
  font-weight: 400;
  font-size: 1.5rem;
  font-family: var(--mainFont);
}
.report-link-buy {
  margin-left: 0;
  background-color: #3d56b2;
  color: #fff;
}
.report-link {
  background-color: #3d56b2;
  color: #fff;
}
.list-item {
  margin-top: 2rem;
  padding: 1rem;
}
hr {
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid rgb(112, 108, 108, 0.3);
}
.recent-report::before {
  content: "";
  position: absolute;
  width: 38%;
  height: 1px;
  border-top: 1px solid #3a3a3a;
  top: 50%;
  left: 0%;
  overflow: hidden;
}
.recent-report::after {
  content: "";
  width: 38%;
  border-top: 1px solid #000;
  position: absolute;
  top: 50%;
  overflow: hidden;
  margin-left: 15px;
}
