* {
  margin: 0;
  padding: 0;
}

.band {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 1rem;
}
.services {
  font-weight: 500;
  margin-bottom: 36px;
  margin-top: 36px;
}
.serviceshead {
  font-weight: 200;
  font-size: 4rem;
  line-height: 2rem;
  text-align: left;
  padding: 0rem;
  margin-bottom: 0rem !important;
  /* padding-bottom: 1rem; */
}

.serviceshead2 {
  font-weight: 500;
  text-align: left;
  font-size: 14px;
  margin-top: 12px !important;
  /* padding-top: 1rem; */
}

.serviceslink {
  font-size: 2rem;
  border: 1px solid var(--lightBlue);
  color: var(--lightBlue);
  border-radius: 0.25rem;
  width: fit-content;
  margin-top: 2rem;
  padding: 0;
  padding-inline: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 300ms;
}

.serviceslink:hover {
  background-color: var(--lightBlue);
  color: white;
}
