* {
  margin: 0;
  padding: 0;
}

.band {
  margin: 30px 0;
    min-height: 100vh;
    padding: 70px 20px;
    text-align: center;
}
.services {
  font-weight: 500;
  margin-bottom: 36px;
  margin-top: 36px;
}
.serviceshead {
  font-size: 4rem;
  font-weight: 200;
  line-height: 2rem;
  padding: 4rem 4rem 1rem;
  text-align: center;
  /* padding-bottom: 1rem; */
}

.serviceshead2 {
  font-weight: 500;
  text-align: center;
  font-size: 14px;
  margin-top: 12px !important;
  margin-bottom: 2rem;
  /* padding-top: 1rem; */
}

.serviceslink {
  font-size: 2rem;
  border: 1px solid var(--lightBlue);
  color: var(--lightBlue);
  border-radius: 0.25rem;
  width: fit-content;
  margin-top: 2rem;
  padding: 0;
  padding-inline: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 300ms;
}

.serviceslink:hover {
  background-color: var(--lightBlue);
  color: white;
}
