:root {
  --darkBlue: #144380;
  --lightBlue: #0f74c3;
}
.hero{
  background:url("../../img/duotone.png");
  background-repeat: no-repeat;
  background-size: cover; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border:1px solid red;
  min-height: 100vh;

}
.heroText .home-page-btns {
  display: flex;
  flex-direction: row;
}
.home-page-subscribe {
  background-color: #0080ff;
  color: white;
}
.hero-vid-text{
  position:relative;
  display:flex;
  flex-direction: row;
  border:1px solid red;

}
.tutorial-vid{
  margin-left:18rem;
}
.heroText {
  font-family: sans-serif !important;
  margin-left:5rem;
}

.home-page-readmore {
  color: white;
  border: 1px solid #fff;
}
.home-page-readmore:hover {
  border: 1px solid transparent;

  background-color: white;
}
