:root {
  --darkBlue: #144380;
  --lightBlue: #0f74c3;
}
.heroText .home-page-btns {
  display: flex;
  flex-direction: row;
  margin-block: 1.5rem;
}
.home-page-subscribe {
  background-color: #0080ff;
  color: white;
}
.heroText {
  font-family: sans-serif !important;
}

.heroText .home-page-btns .button {
  /* font-size: 1.25rem; */
  /* margin: 1.5rem; */
  /* margin-inline: 1rem; */
  /* padding: 0.5rem; */
  /* border: 1px solid; */
  /* border-radius: 0.5rem; */
  /* min-width: 8rem; */
  /* text-align: center; */
  /* font-weight: 600; */
  /* color: white; */
}

.home-page-subscribe:hover {
  color: white;
}

.home-page-readmore {
  color: white;
  border: 1px solid #fff;
}
.home-page-readmore:hover {
  border: 1px solid transparent;

  background-color: white;
}
